.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.header a {
    text-decoration: none;
    color: #444;
}

.header h1 {
    margin-right: auto
}

.header .icon {
    margin-right: auto;
}

.header-with-image {
    display: flex;
    justify-content: space-between;

}

.header-image {
    width: 25%;
}

.icon {
    width: 1.5rem;
}

.footer {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.5rem;
}

summary::marker {
    font-size: 1.2em;
}

.references {
    font-size: 0.8rem;
}

.reference-link {
    text-decoration: none;
}

.indent {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.inline-code {
    display: inline-block;
    font-size: 0.8rem;
}

i {
    padding: 0.2rem;
    /*background-color: rgba(128, 128, 128, 0.27);*/
}

.acknowledgements {
    font-size: 0.7rem;
}

p i {
    padding: 0;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .icon {
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}


