.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.header a {
    text-decoration: none;
    color: #444;
}

.header h1 {
    margin-right: auto
}

.icon {
    width: 2rem;
    margin-right: auto
}

.footer {
    display: flex;
}

.title {
    font-size: 1.5rem;
}

summary::marker {
    font-size: 1.2em;
}

.references {
    font-size: 0.8rem;
}

.reference-link {
    text-decoration: none;
}

.indent {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.inline-code {
    display: inline-block;
}
